*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%; // 1rem = 10px 10/16 = 62.5% 

  

    @include respond(tab-land) {
        font-size:56.25%; // 1 rem=9px 8/16
    }
    @include respond(tab-port) {
        font-size: 50%; //1rem = 8px 8/16
    }
    @include respond(big-desk) {
        font-size: 75%; //1rem= 12 px 12/16
    }
}
body {

    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}